# --- IDEs and OS ---
.vscode/
.idea/
*.swp
*.iml
.DS_Store
Thumbs.db

# --- Java / Backend ---
**/target/
**/build/
**/*.class
**/*.jar
**/*.war
**/*.ear
*.log

# --- Flutter / Mobile ---
**/mobile_app/.dart_tool/
**/mobile_app/.packages
**/mobile_app/.pub-cache/
**/mobile_app/.pub/
**/mobile_app/build/
**/mobile_app/ios/.generated/
**/mobile_app/android/.gradle/
**/mobile_app/android/app/local.properties
**/mobile_app/android/app/src/main/res/generated/
**/mobile_app/linux/flutter/ephemeral/
**/mobile_app/windows/flutter/ephemeral/
**/mobile_app/macos/Flutter/ephemeral/

# --- Docker & DB ---
.env
**/database/data/
